<div class="form-ar-bridge">
	<form id="contact-form_en" method="POST">
		<div class="row">

			<div class="col-md-12 col-xs-12">
                <div class="field">
                    <input id="email" type="email" class="form-control" name="email" placeholder=" " required>
                    <label for="email">Email address *</label>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="field">
                    <input id="phone" type="text" class="form-control" name="phone" placeholder=" " required>
                    <label for="phone">Telephone Number *</label>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="field">
                    <textarea id="txt" type="text" class="form-control" name="txt" placeholder=" "></textarea>
                    <label for="txt">Additional Info *</label>
                </div>
            </div>

            <div class="col-xs-12">
            	<div class="radios">
	            	<label>
						<input type="radio" name="radio" checked value="Wycena/oferta">
						<span>Valuation</span>
					</label>

					<label>
						<input type="radio" name="radio" value="Demo aplikacji AR">
						<span>AR Bridge Demo</span>
					</label>

					<label>
						<input type="radio" name="radio" value="Spotkanie o AR Bridge">
						<span>Let’s Meet</span>
					</label>
				</div>
            </div>

            <hr>    

            <div class="col-xs-12">
                <div class="checked">
                    <label for="agree">
                        <input type="checkbox" id="agree" name="agree">
                        <span>I agree that all the data submitted with this application may be processed to prepare the offer.</span>
                        <div class="error-checkbox">Check this box</div>
                    </label>
                </div>
                
                <p class="text-left text-checked">The personal data administrator is Space Digital with HQ in Warsaw(postal code 03-901), 1 Aleja Księcia Józefa Poniatowskiego, BL PGE NARODOWY, NIP: 5492004689 REGON: 147375619. Given data are collected in order to provide the User with services of the AR Bridge website. Read our Privacy Policy. to see how we protect and manage your data. <a href="privacy-policy.html">here</a>.</p>
            </div>

			<div class="col-xs-12">

				<div class="spacer s1"></div>

            	<button class="button yellow" name="submit" type="submit">Order <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

            </div>

        </div>

        <div class="send-alert"></div>

    </form>


</div>