<header>
	<div class="container">

		<div class="img-header">
			<img class="img-responsive animated fadeInUp delay-1s" src="../img/hero_iphone.png" alt="">
		</div>

		<div class="row">
			<div class="col-md-5 col-xs-12 col-md-offset-7">
				<h1 class="animated fadeInUp delay-1s">Integrating the real world with a mobile screen</h1>
				<p class="animated fadeInUp delay-1s">Create apps or add modules to the existing ones and manage them in real time.</p>

				<a class="page-scroll button black" href="#demo">Request a Demo</a>
				<a class="page-scroll button black" href="#ar-bridge">More info</a>
			</div>
		</div>

	</div>
</header>