<section class="hide-sm">
    <div class="container">
        <div class="row">
        
            <div class="col-md-12 col-xs-12">
                <h2 class="text-left">Case Study</h2>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="slick-slider">
                        
                        <div class="item-post">

                            <div class="col-md-5 col-xs-12">
            
                                <div class="spacer s4"></div>
                
                                <img src="img/slide1.jpg" alt="" class="img-responsive">
                
                            </div>
                            
                            <div class="col-md-7 col-xs-12">
                                
                                <div class="spacer s2"></div>
                                
                                <h2 class="text-left">Aplikacja Get More dla Instytucji Kultury</h2>
                                <div class="underline"></div>
                                
                                <p class="text-left">Użytkownicy aplikacji Get More w mgnieniu oka uzyskują dostęp do wiedzy na temat wybranego dzieła, a często mogą to dzieło modyfikować i zaangażować się w proces tworzenia.</p>
                    
                                <ul class="ul-list">
                                    <li>Nakieruj telefon na konkretną postać z obrazu i uzyskaj informację na temat jej historii.</li>
                                    <li>Nakieruj telefon na rzeźbę aby zobaczyć też inne dzieła danego artysty i proces ich powstawania.</li>
                                    <li>Zeskanuj obraz przedstawiający słynnego muzyka, aby posłuchać jego utworów.</li>
                                    <li>Używaj kamery telefonu aby spacerować ulicami miast sprzed dziesiątek lat i zdobywaj wiedzę historyczną na temat okolicy.</li>
                                </ul>
                                <!-- <a class="button yellow-thin" href="#">Zobacz projekt</a> -->
                                <!-- <a class="button black" href="#">Zobacz inne branże</a> -->
                            </div>

                        </div>

                        <div class="item-post">

                            <div class="col-md-5 col-xs-12">
            
                                <div class="spacer s4"></div>
                
                                <img src="img/slide2.jpg" alt="" class="img-responsive img-center">
                
                            </div>
                            
                            <div class="col-md-7 col-xs-12">
                                
                                <div class="spacer s2"></div>
                                
                                <h2 class="text-left">Aplikacja Get More dla Wydawnictwa Wielka Litera</h2>
                                <div class="underline"></div>
                                
                                <p class="text-left">Aplikacja po zeskanowaniu okładki książki wyświetla funkcje w technologii AR.</p>
                                <p class="text-left">Wybrane funkcjonalności:</p>
                    
                                <ul class="ul-list">
                                    <li>odtwarzania wideo</li>
                                    <li>odtwarzania audiobooków</li>
                                    <li>odtwarzania ebooków</li>
                                    <li>przekierowań do stron www</li>
                                    <li>informowania o promocjach, wydarzeniach i konkursach</li>
                                </ul>
                                <!-- <a class="button yellow-thin" href="#">Zobacz projekt</a> -->
                                <!-- <a class="button black" href="#">Zobacz inne branże</a> -->
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            

        </div>
    </div>
</section>