<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h2 class="text-left">4 najważniejsze funkcjonalności</h2>
                </div>
            </div>

            <div class="spacer s4"></div>

            <div class="row">
                <div class="modals">
                    <div class="col-md-6 cos-xs-12">
                        <div class="box-fun">
                            <div class="header-fun">
                                <div class="num">01</div>
                                <div class="name">Angażowanie odbiorców</div>
                            </div>
                            <div class="body-fun">
                                <p>Użytkownicy wchodzą w interakcję z przekazem. <br>&nbsp;</p>

                                <a id="ad" class="button-fun">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 cos-xs-12">
                        <div class="box-fun">
                            <div class="header-fun">
                                <div class="num">02</div>
                                <div class="name">Przestrzeń do sprzedaży</div>
                            </div>
                            <div class="body-fun">
                                <p>Wizualizacja produktu i testowanie go w różnych konfiguracjach i przestrzeniach. <br>&nbsp;</p>

                                <a id="pds" class="button-fun">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 cos-xs-12">
                        <div class="box-fun">
                            <div class="header-fun">
                                <div class="num">03</div>
                                <div class="name">Komunikacja pod kontrolą</div>
                            </div>
                            <div class="body-fun">
                                <p>Komunikat tworzony dla konkretnego użytkownika i aktualizowany w czasie rzeczywistym.</p>

                                <a id="mnm" class="button-fun">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 cos-xs-12">
                        <div class="box-fun">
                            <div class="header-fun">
                                <div class="num">04</div>
                                <div class="name">Analityka</div>
                            </div>
                            <div class="body-fun">
                                <p>Szczegółowe dane na temat zachowań i preferencji użytkowników. <br>&nbsp;</p>

                                <a id="a" class="button-fun">Czytaj więcej</a>
                            </div>
                        </div>
                    </div>

                    <div id="modal-ad" class="modal fade-scale" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="c-ad"  class="close">&times;</button>
                                    <h4 class="modal-title"><div class="num">01</div>Angażowanie odbiorców</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="spacer s4"></div>
                                    <ul>
                                        <li>Firmy i instytucje zyskują kompletnie nowy sposób komunikacji.</li>
                                        <li>Użytkownicy jednym ruchem telefonu uzyskują dostęp do całego wachlarza multimediów i linków zewnętrznych związanych z produktem lub usługą.</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button id="c-ad" class="button yellow-modal-border ml-50">Zamknij</button>
                                    <button id="n-pds" class="button yellow-modal-bg ml-10" >Następny</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal-pds" class="modal fade-scale" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="c-pds" class="close">&times;</button>
                                    <h4 class="modal-title"><div class="num">02</div>Przestrzeń do Sprzedaży</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="spacer s4"></div>
                                    <ul>
                                        <li>Dodatkowe informacje są wyczerpujące i niczym nieograniczone.</li>
                                        <li>Dostęp do informacji jest ułatwiony i natychmiastowy.</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button id="c-pds" class="button yellow-modal-border ml-50">Zamknij</button>
                                    <button id="n-mnm" class="button yellow-modal-bg ml-10">Następny</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal-mnm" class="modal fade-scale" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="c-mnm" class="close">&times;</button>
                                    <h4 class="modal-title"><div class="num">03</div>Komunikacja Pod Kontrolą</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="spacer s4"></div>
                                    <ul>
                                        <li>Dzięki danym o zachowaniach i preferencjach użytkowników, firmy mogą reagować natychmiast i dostosować przekaz do konkretnego użytkownika.</li>
                                        <li>Geolokalizacja pozwala kierować komunikat pod kątem wybranych miejsc.</li>
                                        <li>Możliwość zmieniania komunikatu jaki niesie wybrany marker pozwala na komunikację w czasie rzeczywistym.</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button id="c-mnm" class="button yellow-modal-border ml-50">Zamknij</button>
                                    <button id="n-a" class="button yellow-modal-bg ml-10">Następny</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="modal-a" class="modal fade-scale" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="c-a" class="close">&times;</button>
                                    <h4 class="modal-title"><div class="num">04</div>Analityka</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="spacer s4"></div>
                                    <ul>
                                        <li>GET MORE dostarcza wiedzy na temat użytkowników i ich zachowań: na co patrzą, w jak długie interakcje wchodzą, które treści są dla nich najbardziej atrakcyjne.</li>
                                        <li>Dane dostarczane są w czasie rzeczywistym co daje ogromną przewagę nad konkurencją.</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button id="c-a" class="button yellow-modal-border ml-50">Zamknij</button>
                                    <!-- <button id="p-mnm" class="button yellow-modal-bg ml-10">Poprzedni</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>