<section>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="border-yellow">
                    <h2 class="text-left">Jak to działa?</h2>
                    <div class="underline"></div>

                    <h3 class="text-left">AR BRIDGE</h3>

                    <p class="text-left">To platforma webowa do zarządzania markerami <br> oraz interakcjami z nimi związanymi.</p>

                    <div class="spacer s2"></div>
                    <div class="bold-line"></div>  
                    <div class="spacer s2"></div>

                    <p><b class="big-bold">1.</b> Zarejstruj się na AR BRIDGE.</p>
                    <p><b class="big-bold">2.</b> Wybierz pakiet cenowy.</p>
                    <p><b class="big-bold">3.</b> Wybierz markery i interakcje.</p>
                    <p><b class="big-bold">4.</b> Zarządzaj markerami w czasie rzeczywistym. <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jeden marker to nieskończenie wiele reakcji do wyboru.</p>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="background-yellow">
                    <h3 class="text-left">GET MORE</h3>

                    <p class="text-left">To aplikacja mobilna dla końcowego użytkownika. Rozpoznaje markery oraz inicjuje interakcje wprowadzone wcześniej do AR BRIDGE.</p>

                    <hr class="hr-getmore">

                    <p><b class="big-bold">1.</b> Pobierz aplikację.</p>
                    <p><b class="big-bold">2.</b> Najedź kamerą na marker.</p>
                    <p><b class="big-bold">3.</b> Korzystaj z dostępnych interakcji.</p>

                    <div class="spacer s2"></div>
                    <div class="spacer s2"></div>
                    <div class="spacer s2"></div>
                    <div class="spacer s2"></div>

                    <!-- <a href="#"><img src="img/ios.png"></a>&nbsp;&nbsp;&nbsp; -->
                    <!-- <a href="#"><img src="img/google-play.png"></a> -->

                    <div class="iphone"></div>

                </div>
            </div>
        </div>
    </div>
</section>