<section>
        <div class="container">

            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <h2 class="text-LEFT">Rodzaje markerów</h2>
                </div>

                <div class="col-md-7 col-xs-12">
                    <div class="box-markers">
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <img src="img/marker.png" class="img-center">
                            </div>
                            <div class="col-md-10 col-xs-9">
                                <strong>Marker</strong> - Dowolna grafika,  która może być skanowana przez funkcję aparatu w naszej aplikacji
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="spacer s4"></div>
                <div class="spacer s4"></div>

                <div class="col-md-3">
                    <img src="img/realny.jpg" alt="Relany" class="img-responsive img-center">
                    <div class="spacer s1"></div>
                    <h5 class="text-left text-uppercase">Realny</h5>
                    <div class="dots"></div>
                    <ul class="marks">
                        <li>Użytkownik musi zeskanować logo z ulotki lub produktu w wyznaczonym miejscu.</li>
                        <li>Wybrany fragment większej grafiki.</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="img/digitalowy.jpg" alt="Digitalowy" class="img-responsive img-center">
                    <div class="spacer s1"></div>
                    <h5 class="text-left text-uppercase">Digitalowy</h5>
                    <div class="dots"></div>
                    <ul class="marks">
                        <li>Ekran TV lub LED</li>
                        <li>Ekran komputera</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="img/geolokalizacyjny.jpg" alt="Geolokalizacyjny" class="img-responsive img-center">
                    <div class="spacer s1"></div>
                    <h5 class="text-left text-uppercase">Geolokalizacyjny</h5>
                    <div class="dots"></div>
                    <ul class="marks">
                        <li>GET MORE lokalizując użytkownika w danym miejscu, uruchamia przypisaną do miejsca interakcję.</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="img/laczony.jpg" alt="Łączony" class="img-responsive img-center">
                    <div class="spacer s1"></div>
                    <h5 class="text-left text-uppercase">Łączony</h5>
                    <div class="dots"></div>
                    <ul class="marks">
                        <li>Użytkownik musi zeskanować logo z ulotki, produktu, etc.</li>
                        <li>To daje nieskończone możliwości gdy chodzi o grywalizację i zachęcanie użytkowników do brania udziału w konkursach. </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>