<section class="no-padding" id="ar-bridge">
	<div class="container">
		<div class="row">
	
			<div class="col-md-6 col-xs-12">

				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4"></div>

				<h2 class="text-left">AR Bridge na czym to polega?</h2>
				<div class="underline"></div>

				<div class="spacer s2"></div>

				<p class="text-left">AR-BRIDGE wykorzystuje najnowsze możliwości technologii <br> Rozszerzonej Rzeczywistości w połączeniu z geo-lokalizacją oraz zaawansowanymi algorytmami rozpoznawania obrazu i sztucznej inteligencji. AR-BRIDGE pozwala w łatwy sposób tworzyć kampanie informacyjne i reklamowe oraz kreować nowe doświadczenia klienta i jego zaangażowanie.</p>

				<div class="spacer s4"></div>

				<ul class="tabs hide-sm">
					<li class="active"><a href="#tab1" data-toggle="tab">Aplikacja dedykowana AR</a></li>
					<li><a href="#tab2" data-toggle="tab">Moduł AR</a></li>
					<li><a href="#tab3" data-toggle="tab">Platforma AR Bridge</a></li>
				</ul>

				
			</div>
	
			<div class="col-md-6 col-xs-12 hide-sm">
				<div class="tab-content">

					<div class="tab-pane active" id="tab1">

						<img class="img-responsive img-center" src="img/aplicacja_ar.png" alt="Aplikacja dedykowana AR">

						<div class="box-ar">
							<p>Aplikacja AR Bridge pozwala na zupełnie nowe podejście do prezentowania ofert i promocji. Użytkownik staje się integralną częścią rozwiązania i otrzymuje spersonalizowaną reklamę lub ofertę. Informacje mogą być podane w nieszablonowy sposób, a przez to sprawić, że odbiorca jest zaangażowany.</p>
						</div>

					</div>

					<div class="tab-pane" id="tab2">

						<img class="img-responsive img-center" src="img/aplicacja_ar.png" alt="Moduł AR">

						<div class="box-ar">
							<p>Jeśli posiadasz już własną aplikację mobilną, możesz zdecydować się dołączenie do niej modułu AR, który zostanie wbudowany jako zakładka w istniejącą aplikację i wykorzysta możliwości Rozszerzonej Rzeczywistości.</p>
						</div>
					</div>

					<div class="tab-pane" id="tab3">

						<img class="img-responsive img-center" src="img/platforma_ar.png" alt="Platforma AR Bridge">

						<div class="box-ar">
							<p>AR Bridge to intuicyjna platforma do zarządzania wieloma kampaniami AR-owymi w czasie rzeczywistym. Pozwala na realizację strategii omnichannel, angażującą integrację wielu kanałów komunikacji marki z kanałem mobilnym. Narzędzie to daje wgląd w statystyki użytkownika i pozwala poznać zachowania konsumentów i wyciągnąć z nich wnioski potrzebne do przygotowania skrojonych na miarę ofert. Dostosuj przekaz do sytuacji.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-6 col-xs-12 hide-lg">
				<h2 class="text-center">Aplikacja dedykowana AR</h2>
				<img class="img-responsive img-center" src="img/aplicacja_ar.png" alt="Aplikacja dedykowana AR">
				<div class="spacer s1"></div>
				<p class="text-center">Aplikacja AR Bridge pozwala na zupełnie nowe podejście do prezentowania ofert i promocji. Użytkownik staje się integralną częścią rozwiązania i otrzymuje spersonalizowaną reklamę lub ofertę. Informacje mogą być podane w nieszablonowy sposób, a przez to sprawić, że odbiorca jest zaangażowany.</p>

				<div class="spacer s2"></div>

				<h2 class="text-center">Moduł AR</h2>
				<img class="img-responsive img-center" src="img/aplicacja_ar.png" alt="Moduł AR">
				<div class="spacer s1"></div>
				<p class="text-center">Jeśli posiadasz już własną aplikację mobilną, możesz zdecydować się dołączenie do niej modułu AR, który zostanie wbudowany jako zakładka w istniejącą aplikację i wykorzysta możliwości Rozszerzonej Rzeczywistości.</p>

				<div class="spacer s2"></div>

				<h2 class="text-center">Platforma AR Bridge</h2>
				<img class="img-responsive img-center" src="img/platforma_ar.png" alt="Platforma AR Bridge">
				<div class="spacer s1"></div>
				<p class="text-center">AR Bridge to intuicyjna platforma do zarządzania wieloma kampaniami AR-owymi w czasie rzeczywistym. Pozwala na realizację strategii omnichannel, angażującą integrację wielu kanałów komunikacji marki z kanałem mobilnym. Narzędzie to daje wgląd w statystyki użytkownika i pozwala poznać zachowania konsumentów i wyciągnąć z nich wnioski potrzebne do przygotowania skrojonych na miarę ofert. Dostosuj przekaz do sytuacji.</p>
			</div>
	
		</div>
	</div>
</section>