<section class="no-padding">
	<div class="container">
		<div class="row">
	
			<div class="col-md-6 col-xs-12">

				<div class="spacer s4"></div>

				<h2 class="text-left">Rozszerzona Rzeczywistość</h2>
				<div class="underline"></div>

				<div class="spacer s2"></div>

				<p class="text-left">AR (Augmented Reality) oznacza nakładanie generowanych komputerowo obrazów na obraz rzeczywisty, a tym samym łączenie świata wirtualnego ze światem rzeczywistym.</p>

				<p class="text-left">Rozszerzona Rzeczywistość używana jest dziś w e-commerce, sprzedaży tradycyjnej, edukacji czy szkoleniach. Wizualizacja produktów jest nie tylko bardzo atrakcyjna, ale także angażuje odbiorcę w przekaz.</p>

				<!-- <p class="text-left">AR może zmienić sposób w jaki się uczymy, w jaki przeprowadza się treningi i szkolenia w firmach i instytucjach, a działom marketingu daje niedostępne dotąd narzędzia, które pozwalają klientom i użytkownikom stać się integralną częścią opowieści.</p> -->

			</div>
	
			<div class="col-md-6 col-xs-12">

				<div class="spacer s4"></div>
				
				<h2 class="text-left">AR BRIDGE + GET MORE</h2>
				<div class="underline"></div>

				<div class="spacer s2"></div>

				<p class="text-left">Dzięki AR BRIDGE i GET MORE nie musisz tracić czasu na skomplikowany proces budowania dedykowanej aplikacji, my zbudowaliśmy ją dla Ciebie. AR BRIDGE to gotowa platforma z własną aplikacją Get More oraz narzędzia do zarządzania komunikatem.</p>

				<p class="text-left">Budowanie dialogu i interakcji to najlepszy sposób na promowanie marki. Używając naszego rozwiązania oferujesz swoim użytkownikom i klientom aplikację, dzięki której mogą dowiedzieć się więcej o twoich produktach i usługach.</p>

			</div>
	
		</div>
	</div>
</section>
