<section>
	<div class="container">
		<div class="row">
		
			<div class="col-md-8 col-xs-12 col-md-offset-2">
				<h2 class="text-center">Dlaczego warto korzystac z AR Bridge?</h2>
			</div>

		
			<div class="col-md-8 col-xs-12 col-md-offset-2">

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="img/ikonka_1.png" class="center-sm img-hover">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Pokazuje więcej niż zwykła oferta</h3>
						<p class="text-center-sm">Sprzedajesz online? W kilka sekund przenieś swoich klientów z ulotki wprost do sklepu internetowego.</p>
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12 hide-lg">
						<img src="img/ikonka_2.png" class="img-center img-hover">	
					</div>

					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Personalizacja</h3>
						<p class="text-center-sm">Zaprezentuj w danej chwili dokładnie to, co jest najważniejsze dla klienta w jego procesie zakupowym.</p>
					</div>

					<div class="col-md-4 col-xs-12 hide-sm">
						<img src="img/ikonka_2.png" class="img-center img-hover">	
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="img/ikonka_3.png" alt="" class="center-sm img-hover">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Pomaga stworzyć więź z produktem</h3>
						<p class="text-center-sm">Wprowadź klientów w świat wirtualny, aby zapoznali się z Twoim produktem jeszcze przed zakupem.</p>
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12 hide-lg">
						<img src="img/ikonka_4.png" alt="" class="img-center img-hover">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Dokładna wiedza o użytkowniku</h3>
						<p class="text-center-sm">Zasięg, analizy zachowań, podejmowana aktywność, dane dotyczące urządzeń - wszystko w jednym miejscu.</p>
					</div>
					<div class="col-md-4 col-xs-12 hide-sm">
						<img src="img/ikonka_4.png" alt="" class="img-center img-hover">	
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="img/ikonka_5.png" alt="" class="center-sm img-hover">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Prawdziwy Omnichannel</h3>
						<p class="text-center-sm">Korzystaj z najnowszych technologii, aby dotrzeć do klienta i zaoferować mu szyte na miarę usługi. </p>
					</div>
				</div>

			</div>
		
		</div>
	</div>		
</section>