<section class="bg-yellow">
	<div class="container">
		<div class="row">
	
			<div class="col-md-12 col-xs-12">
				<h2 class="text-center">Planuj i zarządzaj działaniami AR w 3 krokach</h2>
			</div>

			<div class="spacer s4"></div>
			<div class="spacer s4"></div>
			<div class="spacer s4"></div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="1">
					<div class="title">Wybierz marker</div>
					<p>logo w reklamie TV, opakowanie <br>produktu, zdjęcie z plakatu</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="2">
					<div class="title">Wybierz animację AR</div>
					<p>składniki aktywne w 3D, wirujce logo, <br> wirtualny asystent</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="3">
					<div class="title">Wybierz interakcję</div>
					<p>uruchomienie filmu edukacyjnego, <br>przejście na profil w social media <br> bądź udostępnienie</p>
				</div>
			</div>
	
		</div>
	</div>
</section>