<section id="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 col-md-offset-2">

                <img src="../img/ar-form.png" class="img-center">

                <div class="spacer s2"></div>

                <h2 class="text-center">Are you interested?</h2>

                <div class="spacer s4"></div>

                <p class ="text-center">Fill in the form, check the box with a service you are interested in. We will be in touch shortly.</p>

                <div class="spacer s4"></div>

                @@include('components/form-send-message.html')

            </div>
        </div>
    </div>
</section>