<section class="no-padding">
	<div class="container">
		<div class="row">
	
			<div class="col-md-6 col-xs-12">

				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4"></div>

				<h2 class="text-left">What is <br> Augmented Reality?</h2>
				<div class="underline"></div>

				<div class="spacer s2"></div>

				<p class="text-left"><strong>AR is the integration of digital images with a real world. It connects both worlds on a screen of a mobile device, in real time.</p>

				<p class="text-left">Imagine a world where you can point your device at any given object and immediately receive a full information about it.</p>

				<p class="text-left">AR can completely changes the way we learn, the way we train staff and support field workers. For marketing departments it is a brand new tool which allows users to become a part of a storyline.</p>

			</div>
			
			<div id="lottie"></div>
	
			<div class="col-md-6 col-xs-12">
				<div id="canvas-2" class="canvas"></div>
			</div>
	
		</div>
	</div>
</section>
