<section class="no-padding" id="ar-bridge">
	<div class="container">
		<div class="row">
	
			<div class="col-md-6 col-xs-12">

				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4 hide-sm"></div>
				<div class="spacer s4"></div>

				<h2 class="text-left">AR Bridge. Customize your message.</h2>
				<div class="underline"></div>

				<div class="spacer s2"></div>

				<p class="text-left">AR Bridge uses a full potential of Augmented Reality in combination with geolocalization and advanced image recognition algorithms and artificial intelligence. AR Bridge also enables planning, coordinating and managing multiple AR marketing campaigns and channels of communication. It can create a completely new experience for customers.</p>

				<div class="spacer s4"></div>

				<ul class="tabs hide-sm">
					<li class="active"><a href="#tab1" data-toggle="tab">Dedicated AR App</a></li>
					<li><a href="#tab2" data-toggle="tab">AR Module</a></li>
					<li><a href="#tab3" data-toggle="tab">AR Bridge Platform</a></li>
				</ul>

				
			</div>
	
			<div class="col-md-6 col-xs-12 hide-sm">
				<div class="tab-content">

					<div class="tab-pane active" id="tab1">

						<img class="img-responsive img-center" src="../img/aplicacja_ar.png" alt="Aplikacja dedykowana AR">

						<div class="box-ar">
							<p>AR Bridge App is a completely new approach to sales pitches and marketing campaigns. User becomes an integral part of the experience and receives personalized offers and ads. Information can be delivered in an engaging and innovative way.</p>
						</div>

					</div>

					<div class="tab-pane" id="tab2">

						<img class="img-responsive img-center" src="../img/aplicacja_ar.png" alt="Moduł AR">

						<div class="box-ar">
							<p>If you already own an AR mobile app you can easily connect it with our AR Module. It can be connected with an existing app as an additional tab and can use the full potential of AR right away.</p>
						</div>
					</div>

					<div class="tab-pane" id="tab3">

						<img class="img-responsive img-center" src="../img/platforma_ar.png" alt="Platforma AR Bridge">

						<div class="box-ar">
							<p>AR Bridge is an intuitive platform to manage multiple ad and marketing campaigns in real time. It is a great tool for omni-channel campaigns and allows for a brand new way of communication with customers. It delivers spot-on analytics and user statistics, needed when creating personalized offers.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-6 col-xs-12 hide-lg">
				<h2 class="text-center">Dedicated AR App</h2>
				<img class="img-responsive img-center" src="../img/aplicacja_ar.png" alt="Aplikacja dedykowana AR">
				<div class="spacer s1"></div>
				<p class="text-center">AR Bridge App is a completely new approach to sales pitches and marketing campaigns. User becomes an integral part of the experience and receives personalized offers and ads. Information can be delivered in an engaging and innovative way.</p>

				<div class="spacer s2"></div>

				<h2 class="text-center">AR Module</h2>
				<img class="img-responsive img-center" src="../img/aplicacja_ar.png" alt="Moduł AR">
				<div class="spacer s1"></div>
				<p class="text-center">If you already own an AR mobile app you can easily connect it with our AR Module. It can be connected with an existing app as an additional tab and can use the full potential of AR right away.</p>

				<div class="spacer s2"></div>

				<h2 class="text-center">AR Bridge Platform</h2>
				<img class="img-responsive img-center" src="../img/platforma_ar.png" alt="Platforma AR Bridge">
				<div class="spacer s1"></div>
				<p class="text-center">AR Bridge is an intuitive platform to manage multiple ad and marketing campaigns in real time. It is a great tool for omni-channel campaigns and allows for a brand new way of communication with customers. It delivers spot-on analytics and user statistics, needed when creating personalized offers.</p>
			</div>
	
		</div>
	</div>
</section>