<section>
	<div class="container">
		<div class="row">
		
			<div class="col-md-8 col-xs-12 col-md-offset-2">
				<h2 class="text-center">Why using AR Bridge?</h2>
			</div>

		
			<div class="col-md-8 col-xs-12 col-md-offset-2">

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="../img/ikonka_1.png" class="center-sm">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Present More and Better</h3>
						<p class="text-center-sm">You own an online business? Invite your customers to your online shop by just scanning a leaflet.</p>
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12 hide-lg">
						<img src="../img/ikonka_2.png" class="img-center">	
					</div>

					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Personalize</h3>
						<p class="text-center-sm">Use analytics to offer your customers exactly what they need at a given moment.</p>
					</div>

					<div class="col-md-4 col-xs-12 hide-sm">
						<img src="../img/ikonka_2.png" class="img-center">	
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="../img/ikonka_3.png" alt="" class="center-sm">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Create Relationships</h3>
						<p class="text-center-sm">Introduce your customers to your product and let them interact with it before they will decide to buy it.</p>
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12 hide-lg">
						<img src="../img/ikonka_4.png" alt="" class="img-center">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">Know Your Customer</h3>
						<p class="text-center-sm">Use an intuitive dashboard with statistics to identify customer’s needs, get insights and user activities.</p>
					</div>
					<div class="col-md-4 col-xs-12 hide-sm">
						<img src="../img/ikonka_4.png" alt="" class="img-center">	
					</div>
				</div>

				<div class="spacer s4"></div>
				<div class="spacer s4"></div>

				<div class="row">
					<div class="col-md-4 col-xs-12">
						<img src="../img/ikonka_5.png" alt="" class="center-sm">	
					</div>
					<div class="col-md-8 col-xs-12">	
						<h3 class="text-center-sm">True Omni-Channel Experience</h3>
						<p class="text-center-sm">Use newest technologies to get a real engagement.</p>
					</div>
				</div>

			</div>
		
		</div>
	</div>		
</section>