<section class="bg-yellow">
	<div class="container">
		<div class="row">
	
			<div class="col-md-12 col-xs-12">
				<h2 class="text-center">Plan and manage AR in 3 easy steps</h2>
			</div>

			<div class="spacer s4"></div>
			<div class="spacer s4"></div>
			<div class="spacer s4"></div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="1">
					<div class="title">Choose a marker</div>
					<p>Logo in TV ad, packaging, photo, object</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="2">
					<div class="title">Choose AR animation</div>
					<p>3D objects, interactive logo, virtual assistant</p>
				</div>
			</div>

			<div class="col-md-4 col-xs-12">
				<div class="box-plan" data-plan="3">
					<div class="title">Choose interaction</div>
					<p>Educational video, info ad, social media sharing</p>
				</div>
			</div>
	
		</div>
	</div>
</section>