<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 ">
                <img src="img/logo-small.svg" alt="RODO">
            </div>
    
            <div class="col-xs-6">
                <ul class="social">
                    <li><a target="_blank" href="https://www.linkedin.com/company/space-digital-groupa/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/SpaceDigitalG"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="spacer s4"></div>
        <div class="spacer s4"></div>

        <div class="row">
            <div class="col-md-4">
                <address>
                    <strong>Space Digital Group</strong><br>
                    al. Ks. J. Poniatowskiego 1 <br>
                    03-901 Warszawa, Polska 
                </address>
            </div>

            <div class="col-md-4">
                <address>
                    +48 792 189 759<br>
                    <a href="mailto:odo@space4gdpr.pl">hello@arbridge.pl</a> <br>
                    <a href="mailto:kontakt@spacedigitalgroup.com">kontakt@spacedigitalgroup.com</a>    
                </address>
            </div>

            <div class="col-md-4">
                <address class="text-right">
                    &nbsp;<br>
                    <a href="polityka-prywatnosci.html">Polityka prywatności</a> <br>
                    © 2018 Space Digital Group
                </address>
            </div>
        </div>
    </div>
</footer>

@@include('./layout/scripts/scripts.html')
