<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            @@include('components/button.html')

            @@include('components/logo.html')

        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a class="page-scroll" href="#demo">Zamów demo</a></li>
                <li><a href="kontakt.html">Kontakt</a></li>
                <!-- <li><a href="en/index.html">EN</a></li> -->
            </ul>
        </div>
    </div>
</nav>
