<header>
	<div class="container">
		
		<div class="row">
			<div class="col-md-12">

				<div class="spacer s3"></div>

				<h2 class="text-center hide-sm">Kontakt</h2>
				<div class="title">Space Digital Group</div>
			</div>
		</div>

		<div class="spacer s4 hide-sm"></div>
		<div class="spacer s4"></div>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<p>Dane kontaktowe</p>
				<address>
					+ 48 792 189 759 <br>
					hello@arbridge.pl <br>
					kontakt@spacedigitalgroup.com
				</address>
			</div>
			<div class="col-md-6 col-sm-6">
				<p>Lokalizacja</p>
				<address>
					Aleja Ks. J. Poniatowskiego 1 <br>
					Warszawa 03-901
				</address>
			</div>
		</div>

	</div>
</header>