<div class="form-ar-bridge">
	<form id="contact-form" method="POST">
		<div class="row">

            <div class="col-md-12 col-xs-12">
                <div class="field">
                    <input id="name" type="text" class="form-control" name="name" placeholder=" " required>
                    <label for="name">Imię i Nazwisko *</label>
                </div>
            </div>

			<div class="col-md-12 col-xs-12">
                <div class="field">
                    <input id="email" type="email" class="form-control" name="email" placeholder=" " required>
                    <label for="email">Adres e-mail *</label>
                </div>
            </div>

            <div class="col-md-12 col-xs-12">
                <div class="field">
                    <input id="phone" type="text" class="form-control" name="phone" placeholder=" " required>
                    <label for="phone">Numer telefonu *</label>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="field">
                    <textarea id="txt" type="text" class="form-control" name="txt" placeholder=" "></textarea>
                    <label for="txt">Dodatkowe informacje *</label>
                </div>
            </div>

            <div class="col-xs-12">
            	<div class="radios">
	            	<label>
						<input type="checkbox" name="wycena" checked value="Wycena/oferta">
						<span>Wycena/oferta</span>
					</label>

					<label>
						<input type="checkbox" name="demo" value="Demo aplikacji AR">
						<span>Demo aplikacji AR</span>
					</label>

					<label>
						<input type="checkbox" name="spotkanie" value="Spotkanie o AR Bridge">
						<span>Spotkanie o AR Bridge</span>
					</label>
				</div>
            </div>

            <hr>    

            <div class="col-xs-12">
                <div class="checked">
                    <label for="agree">
                        <input type="checkbox" id="agree" name="agree">
                        <span>Wyrażam zgodę na przetwarzanie moich danych osobowych w celach przygotowania oferty.</span>
                        <div class="error-checkbox">Zaznacz to pole</div>
                    </label>
                </div>
                
                <p class="text-left text-checked">Administratorem danych osobowych jest  Space Digital Group Spółka z ograniczoną odpowiedzialnością spółka komandytowa z siedzibą w Warszawie  REGON: 368752410, NIP 5242843791,  KRS: 0000703197. Informujemy o prawie do żądania od Administratora dostępu do danych osobowych dotyczących osoby, której dane dotyczą, ich sprostowania, usunięcia lub ograniczenia przetwarzania a także  o prawie do wniesienia sprzeciwu wobec przetwarzania oraz  o prawie do przenoszenia danych. Szczegółowe zasady przetwarzania podanych w formularzu danych osobowych znajdują się <a href="polityka-prywatnosci.html">tutaj</a>.</p>
            </div>

			<div class="col-xs-12">

				<div class="spacer s1"></div>

            	<button class="button yellow" name="submit" type="submit">Zamów <i class="fa fa-arrow-right" aria-hidden="true"></i></button>

            </div>

        </div>

        <div class="send-alert"></div>

    </form>


</div>