<header>
	<div class="container">

		<div class="img-header">
			<img class="img-responsive animated fadeInUp delay-1s" src="img/hero_iphone.png" alt="">
		</div>

		<div class="row">
			<div class="col-md-6 col-xs-12 col-md-offset-6">
				<h1 class="animated fadeInUp delay-1s">AR BRIDGE + GET MORE <br> Łączymy świat rzeczywisty z ekranem mobilnym</h1>
				<p class="animated fadeInUp delay-1s">Prezentuj produkty i usługi, angażuj klienta w markę korzystając z rozszerzonej rzeczywistości.</p>

				<a class="page-scroll button black" href="#demo">Zamów demo</a>
				<!-- <a class="page-scroll button black" href="#ar-bridge">Dowiedz się więcej</a> -->
			</div>
		</div>

	</div>
</header>