.button {
    width: 100%;
    display: table;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-family: $spaceBold;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 2px;
    transition: all .25s ease;
    border: 0;

    @include breakpoint(sm) {
        width: auto;
    }

    &:hover {
        text-decoration: none; 
    }

    &.yellow {
        background: transparent;
        border: 2px solid $yellow;
        color: $yellow;

        &:hover {
            background-color: $yellow;
            color: $white;
        }
    }

    &.black {
        padding: 1rem 2.5rem;
        display: inline-block;
        background: transparent;
        border: 1px solid $black;
        color: $black;
        min-width: 180px;
        font-size: 1.4rem;
        margin-top: 10px;

        &:hover {
            background-color: $black;
            color: $white;
        }

        @include breakpoint(sm) {
            margin-top: 0;
        }
    }

    &.yellow-thin {
        padding: 1rem 2.5rem;
        display: inline-block;
        background: transparent;
        border: 1px solid $yellow;
        color: $yellow;
        min-width: 180px;
        font-size: 1.4rem;
        margin-top: 10px;
        margin-right: 20px;

        &:hover {
            background-color: $yellow;
            color: $white;
        }

        @include breakpoint(sm) {
            margin-top: 0;
        }
    }

    &.yellow-modal-border {
        padding: .8rem 1.8rem;
        display: inline-block;
        background: transparent;
        border: 1px solid $yellow;
        color: $yellow;
        min-width: 130px;
        font-size: 1.4rem;
        margin-top: 10px;

        &:hover {
            background-color: $yellow;
            color: $white;
        }

        @include breakpoint(sm) {
            margin-top: 0;
        }
    }

    &.yellow-modal-bg {
        padding: .8rem 1.8rem;
        display: inline-block;
        background: $yellow;
        border: 1px solid $yellow;
        color: $white;
        min-width: 130px;
        font-size: 1.4rem;
        margin-top: 10px;

        &:hover {
            background-color: transparent;
            color: $yellow;
        }

        @include breakpoint(sm) {
            margin-top: 0;
        }
    }

}

