<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            @@include('components/button.html')

            @@include('components/logo.html')

        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a class="page-scroll" href="#demo">Request a Demo</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="../index.html">PL</a></li>
            </ul>
        </div>
    </div>
</nav>
